{% extends "core/base.html" %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
    <div class="bg-gray-100 py-8 dark:bg-gray-800 rounded-lg">
        <div class="mx-auto max-w-6xl px-4 sm:px-6 lg:px-8">
            <div class="-mx-4 flex flex-col md:flex-row">
            <div class="px-4 md:flex-1">
                <div class="mb-4 h-[460px] rounded-lg bg-gray-300 dark:bg-gray-700">
                <img class="h-full w-full object-cover" src="{{ item.image.url }}" alt="Product Image" />
                </div>
                <div class="-mx-2 mb-4 flex">
                {% if request.user == item.created_by %}
                    <div class="w-1/2 px-2">
                    <a href="{% url 'item:delete' item.id %}">
                        <button class="w-full rounded-full bg-gray-900 px-4 py-2 font-bold text-white hover:bg-gray-800 dark:bg-gray-600 dark:hover:bg-gray-700">Delete Item</button>
                    </a>
                    </div>
                    <div class="w-1/2 px-2">
                        <a href="{% url 'item:edit' item.id %}">
                            <button class="w-full rounded-full bg-gray-200 px-4 py-2 font-bold text-gray-800 hover:bg-gray-300 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-600">Edit</button>
                        </a>
                    </div>
                {% else %}
                    <div class="w-1/2 px-2">
                    <a href="{% url 'conversation:new' item.id %}" class="items-center">
                        <button class="w-full lg:w-80 rounded-full bg-sky-600 px-4 py-2 font-bold text-white hover:bg-gray-800 dark:bg-sky-600 dark:hover:bg-gray-700">Contact Seller</button>

                        {% comment %} <button class="w-full lg:w-64 rounded-full bg-sky-600 px-4 py-2 font-bold text-white hover:bg-gray-800 dark:bg-sky-600 dark:hover:bg-gray-700">Contact Seller</button> {% endcomment %}
                    </a>
                    </div>
                {% endif %}
                </div>
            </div>
            <div class="px-4 md:flex-1">
                <h2 class="mb-4 text-2xl font-bold text-gray-800 dark:text-white">{{ item.name }}</h2>
                <div class="mb-4 flex">
                    <div class="mr-4">
                        <span class="font-bold text-gray-700 dark:text-gray-300">Price:</span>
                        <span class="text-gray-600 dark:text-gray-300">{{ item.price }}</span>
                    </div>
                </div>
                <div class="mb-4">
                    <span class="font-bold text-gray-700 dark:text-gray-300">Seller:</span>
                    <span class="text-gray-600 dark:text-gray-300">{{ item.created_by.username }}</span>
                </div>
                <div>
                <span class="font-bold text-gray-700 dark:text-gray-300">Product Description:</span>
                <p class="mt-2 text-sm text-gray-600 dark:text-gray-300">{{item.description}}</p>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-6 px-20 py-10 bg-grey-100 rounded-xl">
        {% comment %} <h2 class="mb-12 text-2xl text-center">Related Items</h2> {% endcomment %}
        <h2 class="mb-12 text-2xl text-center font-bold text-gray-800 dark:text-sky">Related Items</h2>
        <div class="grid grid-cols-3 gap-3">
            {% for item in related_items %}
            <div>
                <a href="{% url 'item:detail' item.id %}">
                    <div>
                        <img src="{{ item.image.url }}" class="rounded-t-xl">
                    </div>
                    <div class="p-6 bg-white rounded-b-xl">
                        <h2>{{ item.name }}</h2>
                        <p>{{item.price}}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}